html {
    background-color: #FFF;
}

body {
    margin: 0 auto;
    padding: 0.5em 2em 2em;
    max-width: 800px;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #444;
}